*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    background: #E5E5E5;
}
.container{
    width: 550px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background: #E5E5E5;
}
#add-task{
    height: 72px;
}
#add-task input{
    height: 100%;
    width: 477px;
    font-family: sans-serif;
    font-size: 20px;
    border: 0 solid ;
    padding: 13px;
    background-color: #2F3C4F;
    color: white;
    font-weight: 500;

}

#add-task input:focus{
    outline: none;
}
#add-task button{
    position: relative;
    float: right;
    width: 72px;
    height:100%;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 50px;
    background-color:#00E1AD;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
#tasks{
    padding: 0px ;
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.task {
    height: 72px;
    padding: 5px 10px;
    display: flex;

    align-items: center;
    margin: 1px;
    background: white;
}
.task span{
   margin-left: 10px;

}
#title-task{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.task input{
    cursor: pointer;

}
.task > input[type='checkbox']:checked + span{
    text-decoration: line-through  red
}